<!DOCTYPE html>
<!--
The MIT License

Copyright 2016 jrc.

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in
all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
THE SOFTWARE.
-->
<div>
    <h1>Link has Expired</h1>
    <h2>Expired On: {{expireDate| date : 'MMM d, y h:mm a'}}</h2>
    <p>Our sincerest apologies. The link you used to get to this page is no longer valid. We limit 
        the time that links can be used for the following reasons:</p>
    <ul class="list-group">
        <li class="list-group-item">
            <b>Increased security</b> The links we send to your email should only be accessed by you. If we let them have extended lifespans, they can be shared with others. These deals are for your eyes only.
        </li>
        <li class="list-group-item">
            <b>Attract More Wholesalers</b> Wholesalers need to know that our cash buyers, like you, will look at the offer soon after they send it. By limiting the time our buyers have to access the offer, we ensure 
            that all interested buyers act fast to see the deals that are available.
        </li>
        <li class="list-group-item">
            <b>Reduced SPAM</b> Who wants spam?! No one does. By using these time sensitive links, we can stop sending you emails about an offer as soon as we know that you have seen it.
            If a link expires without being used, we know that you have not seen the offer, and we can send you a new one until you see the deal.
        </li>
    </ul>
    <p>Please remember to keep an eye out for offers from our Wholesalers, and act fast to view the listing!</p>
</div>